body
{
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: rgb(229, 229, 162);
  font-size:5rem;
  font-weight: 30px;
  text-decoration:underline;
}
.Logo
{ 
  display: flex;
  align-items: center;
  justify-content: center;
}
.Game-comment-section a
{
  text-decoration: none;
  color: rgb(229, 200, 162);
  font-size: 80px;
  font-weight: 30px;
  -webkit-text-stroke: 1px #000;
}
.Game-comment-section a:hover
{
  color: #ff6347;
  cursor: pointer;
}
.Game-comment-section aside p
{
  color: #000;
  font-size: 25px;
  font-weight:150px ;
}
/* End of Header */
.Game-comment-section 
{ 
  display: flex;
  justify-content:center;
  align-items: stretch;
  gap: 30px;
  margin: 0 10px;
  position:relative;
}

.Highlight{
    color:rgb(229, 200, 162);
    font-size: 40px;
    font-weight: 30px;
    transition:'all 0.7s ease-out';
}
.SettingsDiv{
  width:800px;
  height:500px;
  border:3px solid;
  z-index:1;
  position:absolute;
  top:30px;
  left:400px;
  background-color:#fff;
  border-radius: 10px;
}
.SettingsDiv input
{
  border-style: none;
  font-size: 30px;
  margin-left:30px;
}
.SettingsDiv form 
{ color: rgb(229, 229, 162);
  font-size: 30px;
  font-weight:800px ;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 20px;
}

.SettingsDiv select
{
  border-style: none;
  font-size: 30px;
  margin-left:30px;
}
.SettingsDiv button
{
  background-color: rgb(229, 229, 162);
  border-radius: 10px;
  border-style: none;
  font-size: 30px;
  font-weight:150px ;
  position: absolute;
  width: 100%;
  top:425px;
  left: 0px;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  
}
/* Description */
.description h2
{
  color: rgb(229, 200, 162);
  font-size: 40px;
  text-decoration: underline;
}
.description p
{ font-size: 30px;
  color: rgb(229, 229, 162);
  font-weight: bold;
}
.description ul
{ display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(229, 229, 162);
  font-size: 30px;
  list-style: none;
  margin-left: 45px;
  margin-right: 180px;
}
/* GRID */
.grid
{ margin-left: 170px;
  display: grid;
  grid-template-columns:repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);    
  grid-gap: 10px;
  position:relative;
}
.grid>div
{
  background-color: rgb(229, 229, 162);
 
}
.grid>div:hover
{
  cursor:pointer;
}
aside
{   
    background-color:rgb(229, 200, 162); 
    padding: 10px;
}
footer {
  margin-top: 30px;
  height: 100px;
  background-color: rgb(229, 200, 162);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick-links ul {
  display: flex;
  gap: 20px; /* Use gap to control spacing between items */
  list-style-type: none;
  /* margin: 0; Remove default margin */
  /* padding: 0; Remove default padding */
}

.quick-links ul li {
  
  font-size: 25px;
}
.quick-links ul li a {
  color:white; /* Change this to your desired color */
  text-decoration: none; /* Remove the underline */
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.quick-links ul li a:hover {
  color: #ff6347; /* Change to your desired hover color */
  text-decoration: underline; /* Optionally add underline on hover */
}
.fa-arrow-up {
  font-size: 40px;
  padding: 20px;
  color:white;
  cursor: pointer; /* Add cursor to indicate it's clickable */
}
